@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: grid;
    grid-template-areas: "logo nav"
                         "tag   tag"
    ;

    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 2fr 1fr;
    width: 100vw;
    height: 13vh;
    
    justify-content: center;

    background-color: #ff2828;
    color: white;

    position: fixed;
    top: 0;

}

header label {
    display: none;
}

.logo {
    grid-area: logo;
    margin-left: 3vw;

    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2vw;
}

nav {
    grid-area: nav;
    display: flex;
    gap: 1vw;
}



nav>ul {
    height: 100%;
    display: flex;
    align-items: center;

    list-style: none;
    
    gap: 1vw;
}

nav ul>li {
    padding: 0 0.5vw;
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;


    gap: 0.5vw;
}


nav ul li a {
    width: 100%;
    height: 100%;

    font-size: 1.2vw;
    font-weight: 700;

    text-decoration: none;

    color: white;

    position: relative;

    display: flex ;
    align-items: center;

}

nav ul li:hover {
    background-color: red;
}

nav ul li .sub-links {
    
    width: 120%;
    height: 20vh;

    position: absolute;
    left: 0;
    top: 6vh;

    background-color: red;

    display: none;
    flex-direction: column;
    row-gap:1vh ;

    list-style: none;

    padding:0;

}

.sub-links li {
    width: 100%;
    height: 7vh;

    padding: 0;
}

.sub-links li a {
    width: 100%;
    height: 100%;

    font-size: 1vw;

    display: flex;
    justify-content: center;
}

nav ul li a:hover ~ i::after {
    content: "\f077";
    
    position: absolute;
    right: 0.5vw;

    background-color: #ff2828;

}

nav ul li a:hover ~ .sub-links {
    display: flex;
}

nav ul li a ~ .sub-links:hover ~ i::after {
    content: "\f077";
    
    position: absolute;
    right: 0.5vw;

    background-color: #ff2828;
}

nav ul li a ~ .sub-links:hover {
    display: flex;
}

nav ul li a ~ .sub-links:hover li a:hover {
    background-color: rgb(187, 3, 3);
}


.search {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.search input {
    display: none;
}

.search i {
    font-size: 1.3vw;
}

.profil {
    display: flex;
    align-items: center;
}

.profil i {
    font-size: 1.3vw;
}

.tanggal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 3vw;
}

.tanggal h2 {
    font-size: 1vw;
}

.tanggal p {
    font-size: 0.9vw;
    font-weight: 600;
}

.tag-links {
    grid-area: tag;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: black;
}

.tag-links ul{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    gap: 3vw;
}

.tag-links ul li a {
    font-weight: 500;
    font-size: 1vw;

    text-decoration: none;

    color: white;  
    
    transition: all 0.2s ease-in-out;
}

.tag-links ul li a:hover {
    color: gray;
}

.container {
    width: 70vw;
    height: auto;
    display: flex;
    gap: 4vw;

    margin-top: 13vh;

}

main {
    flex: 2.5;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.Top-News {
    width: 100%;
    height: auto;

    margin-top: 5vh;
}

.Top-News .judul {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}

.Top-News h1 {
    font-size: 2vw;
    line-height: 1;
}

.Top-News span {
    display: inline-block;
    width: 0.3vw;
    height: 70%;

    background-color: red;
}

.Top-News h2 {
    font-size: 1.4vw;
    line-height: 1;
}

.Top-News img {
    width: 100%;
    height: 50vh;

    margin-top: 2vh;

    background-color: gray;

}

.Top-News article {
    margin-top: 2vh;
}

.Top-News article h2 {
    font-size: 1.4vw;
}




.Top-News article p{
    font-size: 1vw;
    text-align: justify;
    text-indent: 2vw;

    margin-top: 2vh;
}

.Past-News {
    width: 100%;
    height: auto;
    margin-top: 10vh;

    row-gap: 2vh;
}

.Past-News h1 {
    font-size: 2vw;

    cursor:default;
}

.Past-News h1:hover {
    text-decoration: underline;
}

.Past-News .News-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;

    margin-top: 2vh;
}

.Past-News .News-wrap .berita {
    display: flex;
    gap: 2vw;

    width: 100%;
    height: 17vh;
}

.Past-News .News-wrap .berita img {
    flex: 1;
    height: 100%;

    background-color: gray;

    display: inline-block;
}

.Past-News .News-wrap .berita article {
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
}

.Past-News .News-wrap .berita article h2{
    font-size: 1.2vw;
}

.Past-News .News-wrap .berita article p{
    font-size: 0.9vw;
    text-align: justify;
    
}

.Past-News .News-wrap .berita article a{
    font-size: 1vw;
    font-weight: 600;
    color: blue;
}

aside {
    flex: 1;
    row-gap:10vh ;

    margin-top: 10vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

aside .berita-Lainnya {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 1vh;
}

aside .berita-Lainnya > h2 {
    font-size: 1.3vw;

    width: 100%;
    height: 6vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ff2828;
    color: white;
}

aside .berita-Lainnya .berita {
    width: 100%;
    height: 7vh;

    display: flex;
    align-items: center;
    gap: 1vw;

}

aside .berita img {
    flex: 1;

    height: 100%;
    background-color: gray;
}

aside .berita .subjudul {
    flex: 2.5;
}

aside .berita .subjudul a {
    text-decoration: none;
    color: black;
    line-height: 1.5;

}

aside .berita .subjudul a h2 {
    font-size: 1vw;
}

footer {
    position: relative;
    width: 100vw;
    height: 35vh;

    margin-top: 10vh;
    background-color: rgb(54, 54, 54);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}


footer .Tentang-Kami {
    flex: 1.5;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


footer .Tentang-Kami div {
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .Tentang-Kami .teks h3 {
    font-size: 2vw;
    font-family: "Roboto",sans-serif;
}

footer .Tentang-Kami .Media-Sosial h3{
    font-size: 1.5vw;
    text-align: center;
}

footer .Tentang-Kami .Media-Sosial .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    gap: 1vw;
}

footer .Tentang-Kami .Media-Sosial .links a {
    font-size: 2vw;

    color: white;
}

footer .Tentang-Kami .Kontak {
    display: flex;
    flex-direction: column;
    align-items: start;
}

footer .Tentang-Kami .Kontak p {
    font-size: 1.2vw;
}



footer hr {
    width: 80%;
    height: 0.2vh;

    background-color: gray;
}

footer .hakcipta{
    flex: 1;
    width: 100%;
    height: 10%;
    text-align: center;

    display: flex;
    justify-content: center;


}

footer .hakcipta p {
    width: 80%;
    padding-top:2vh ;

    font-size: 0.9vw;
    color: white;
}

footer .hakcipta p span {
    color: aqua;
}

@media screen and (max-width : 780px) {
    Header {
        height: 8vh;


        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;

    }

    header .logo {
        z-index: 2;
        background-color: #ff3232;
    }

    header .logo h1 {
        font-size: 5vw;
    }

    header label {
        margin-right: 5vw;

        display: flex;
        justify-content: center;
    }

    header label i {
        font-size: 8vw;
    }


    nav {
        position: absolute;
        top: 7.5vh;
        left: 0;

        width: 80vw;
        height: 92vh;

        transform: translateX(-50vw);
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;


        flex-direction: column;
        background-color: rgb(54, 54, 54);
        z-index: 1;
    }

    #nav:checked ~ nav {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }


    nav ul {
        width: 100%;
        height: 280vh;
        flex-direction: column;
        z-index: 1;
    }

    nav ul li {
        width: 100%;
        min-height: 4vh;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        margin: 0;
        padding: 0;

        z-index: 1;

    }

    nav ul li a {
        font-size: 3vw;
        text-indent: 1vw;

        display: flex;
        justify-content: start;
        align-items: start;

        background-color: rgb(54, 54, 54);

    }

    nav ul li i::after {
        display: none;
    }

    nav ul li .sub-links {
    
        width: 100%;
        height: 0;
    
        position: relative;
        top: 0;
        left: 0;
    
        display: block ;
        flex-direction: column;
    
        list-style: none;
    
        padding:0;
        margin: 0;
        
        background-color: rgb(54, 54, 54);

        visibility: hidden;

    
    }
    
    .sub-links li {
        width: 100%;
        height: 4vh;
    
        padding: 0;

    }
    
    .sub-links li a {
        width: 100%;
        height: 100%;
    
        font-size: 2.5vw;
        text-indent: 4vw;
    
        display: flex;
        justify-content: start;
        align-items: center;
    }

    nav ul li:hover {
        background: none;
    }

    nav ul li a.show ~ .sub-links {
        height: auto;
        visibility: visible;
    }
    nav .search {
        height: 5vh;

        gap: 2vw;
        justify-content: center;

        margin-bottom: 2vh;
        z-index: 1;

    }

    nav .search i{
        display: none;
    }

    nav .search input {
        width: 90%;
        height: 100%;
        padding-left:2vw ;

        font-size: 3vw;


        border-radius: 30px;
    }

    nav .tanggal {
        display: none;
    }

    .tag-links {
       display: none;
    }
}